* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

html {
	font-size: 60%;
}

body {
	font: normal 1.2rem sans-serif;
}

#container {
	display: flex;
	flex-wrap: wrap;
}

#name, #list {
	width: 30%;
}

#bar, #map {
	width: 70%
}

#name {
	height: 60px;
	padding: 10px;
	background-color: #e9e5dc;
}

#list {
	background-color: #da6161;
	height: calc(100vh - 60px);
	overflow-y: scroll;
}

#bar {
	padding: 10px 0 0 10px;
}

#filter {
	width: 100%;
}

input {
	width: 85%;
	padding: 0 5px;
	font: normal 1.2rem/2 sans-serif;
	border-radius: 2px;
	border: 2px solid #999;
}

input:focus {
	outline: 0;
}

img, input {
	vertical-align: middle;
	display: inline-block;
}

li {
	padding: 10px;
	font: normal 1.2rem sans-serif;
	color: #fff;
}

li:hover {
	background-color: #fff;
	color: #666;
	cursor: pointer;
}

.map-name, .info-link {
	font: normal 1rem/1.5rem sans-serif;
}

.map-address {
	font: normal .7rem sans-serif;
	color: #999;
}

.info-link {
	color: #da6161;
	text-decoration: none;
}


/* The Modal (background) */
#modal {
	display: none;
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-window {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	overflow: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

#close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

#close:hover,
#close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

#wiki-content {
	list-style: none;
}

#flickr-images {
	display: flex;
	flex-wrap: nowrap;
	margin: 20px 0;
}

.flickr-picture {
	width: 20%;
	height: 180px;
	border-right: 2px solid #fff;
	background-size: cover;
}

@media screen and (min-width: 600px) {

	html {
		font-size: 70%;
	}

@media screen and (min-width: 800px) {

	html {
		font-size: 80%;
	}

	#name, #list {
		width: 25%;
	}

	#bar, #map {
		width: 75%;
	}

@media screen and (min-width: 1100px) {

	html {
		font-size: 100%;
	}

}

@media screen and (min-width: 1400px) {

	#name, #list {
		width: 20%;
	}

	#bar, #map {
		width: 80%;
	}

}
